body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

#container {
	border: 1px solid red;
	width:960px; /*720px;*/
	margin: 0 auto;
	background: #fff url(../imagens/coluna.png) repeat-y left top;
	min-width: 720px;
	max-width: 1280px;
}

#marca {
	width: 100%;
	height: 300px;
	background: #225992 url(../imagens/cabecalho2.jpg) no-repeat center;
	text-align: center;
	line-height: 300px;
}

#conteudo {
	width: 75% /*520px*/;
	float: right;
}

#conteudo-principal {
	width: 63% /*320px*/;
	float: left;
}

/*#imagem {
	border: 1px solid red;
	width: 90%;
	overflow: hidden;
}*/

img.img-noticia {
	width: 94%;
	padding: 2%;
	max-width: 600px;
}

#conteudo-secundario {
	width: 34% /*180px*/;
	float: right;
	background: #d1d1d1;
}

#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
	padding-left: 20px;
	padding-right: 20px;
}

#navegacao {
	width: 23% /*180px*/;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	/*background: #d1d1d1;*/
}

#navegacao ul {
	list-style: none;
}

#navegacao li a {
	text-decoration: none;
}

#rodape {
	clear: both;
	background: #c4c4c4;
	padding: 5px;
}