.caixa {
	width: 400px;
	background: #dedede url(../imagens/fundo-arredondamento.png) repeat-y;
}

.caixa h2 {
	background: url(../imagens/topo2.png) no-repeat left top;
	padding: 10px 20px 0px 20px;
}

.caixa p {
	padding: 0px 20px;
	margin-bottom: 0px;
}

.caixa .ultimo {
	background: url(../imagens/baixo2.png) no-repeat left bottom;
	width: 400px;
	height: 24px;
}

/*
.caixa {
	width: 400px;
	background: #dedede url(../imagens/topo2.png) no-repeat left top;
}

.caixa h2 {
	padding: 10px 20px 0px 20px;
}

.caixa p {
	padding: 0px 20px 20px 20px;
	background: url(../imagens/baixo2.png) no-repeat left bottom;
}
*/