/*limpar formatações padrão*/
* {
	margin: 0;
	padding: 0;
}

body{
	font-size: 1em;
	font-family: "Trebuchet monospace", Helvetica, sans-serif;
	background: #e6e6e6;
}

/*leyout*/

#area-cabecario {
	background-color: #f7b600;
	padding: 15px;
	text-align: center;
}

#area-logo, #area-menu {
	padding: 10px;
}

/*formatações do menu*/
a {
	text-decoration: none;
}

a:link, a:visited {
	color: #FFF;
	padding: 8px 12px;
}

a:hover {
	color: #f7b600;
	background: #FFF;
}
/*formatações em gerais*/
h1 {
	color: #4e4e4e;
	font-size: 2.5em;
}

.branco {
	color: white;
}