#caixa {
	width: 300px;
	height: 300px;
	background: #b9c941;
	padding: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*-webkit-border-radius: 20px 90px;
	-moz-border-radius: 20px 90px;
	border-radius: 20px 90px;*/
}

#caixa2 {
	width: 300px;
	height: 300px;
	background: #b9c941;
	/*-webkit-border-radius: 20px 90px;
	-moz-border-radius: 20px 90px;
	border-radius: 20px 90px;*/
}





