#caixa {
	width: 300px;
	height: 300px;
	/*background: url("../imagens/camera.png");*/
	/*background: linear-gradient(96deg, red, green, yellow);*/
	background: radial-gradient(red, green, yellow);
}	

#caixa h1 {
	/*background: rgba(255, 255, 255, 0.7);*/
}